.ae-text-body-base {
  font-size: var(--sds-typography-scale-03);
  font-style: normal;
  font-weight: var(--sds-typography-weight-light);
  line-height: 150%; /* 24px */
}

.ae-text-body-small {
  font-size: var(--sds-typography-scale-02);
  font-style: normal;
  font-weight: var(--sds-typography-weight-regular);
  line-height: 140%; /* 19.6px */
}

.ae-text-single-line-body-base {
  font-size: var(--sds-typography-scale-03);
  font-style: normal;
  font-weight: var(--sds-typography-weight-regular);
  line-height: 120%; /* 19.2px */
}

.ae-text-single-line-body-small-strong {
  font-size: var(--sds-typography-scale-02);
  font-style: normal;
  font-weight: var(--sds-typography-weight-regular);
  line-height: 120%; /* 16.8px */
}

.ae-text-note {
  font-size: var(--sds-typography-scale-01);
  font-style: normal;
  font-weight: var(--sds-typography-weight-regular);
  line-height: 140%; /* 16.8px */
}